$wrapperWidth: 1400px;

$sidebarWidth: 380px;
$sidebarCollapseWidth: 800px;

$gridCollapseSmall: 750px;
$gridCollapseExtraSmall: 500px;

/* colors */
$greenColor: #6cb78b;
$blueColor: #57778a;

/* nav */
$collapseNavAt: 750px;
$collapsedNavBackgroundColor: rgba($blueColor,0.8);

/* social */
$socialLinkColor: #fff;
$socialHoverColor: $greenColor;

/* body */
$pageWrapperWidth: 1920px;
$pageBackgroundColor: darken($greenColor,40);
$bodyBackgroundColor: #fff;
$bodyContentColor: #363636;
$darkBackgroundColor: #e2f0d6;
$darkBackgroundContentColor: #fff;
$darkSectionSeparatorColor: #d2e2c5;

/* heading */
$darkBackgroundHeadingColor: $darkBackgroundContentColor;
$headingFontStack: $defaultFontStack;
$headingColor: $greenColor;

/* footer */
$footerBackgroundColor: $blueColor;
$footerContentColor: #fff;
$footerLinkColor: #fff;
$footerHoverColor: #fff;

$copyrightBackgroundColor: $greenColor;
$copyrightContentColor: #fff;
$copyrightLinkColor: #fff;
$copyrightHoverColor: #fff;
$copyrightSeparatorColor: #fff;

/* accordion */
$accHandleBorderWidth: 0;
$accHandleBorderColor: transparentl;
$accHandleColor: #fff;
$accHandleColorActive: #fff;

$accHandleBGColor: $greenColor;
$accHandleBGColorActive: $greenColor;

$accContentBorderWidth: 0px;
$accContentBorderColor: transparent;
$accContentBGColor: #f6f6f6;

$accContentLinkColor: $greenColor;
$accContentLinkBGColor: transparent;

$accContentLinkActiveColor: #fff;
$accContentLinkActiveBGColor: lighten($greenColor,20);

/* article */
$excerptColor: $bodyContentColor;

/* links */
$linkColor: $greenColor;
$hoverColor: darken($greenColor,20);
$visitedColor: lighten($greenColor,20);

$darkBackgroundLinkColor: $greenColor;
$darkBackgroundHoverColor: darken($greenColor,20);
$darkBackgroundVisitedColor: lighten($greenColor,10);

/* buttons */
$buttonTextColor: #fff;
$buttonBackgroundColor: $greenColor;
$buttonTextColorHover: #fff;
$buttonBackgroundColorHover: darken($buttonBackgroundColor,10);

/* filter area */
$filterBarBackgroundColor: $blueColor;
$filterBarContentColor: #fff;

$filterControlBackgroundColor: $greenColor;
$filterControlBackgroundColorActive: lighten($greenColor,10);
$filterControlColor: #fff;
$filterControlColorActive: #fff;

/* lists */
$listNumberColor: $greenColor;

/* breadcrumbs */
$breadCrumbColor: #fff;
$breadCrumbColorActive: #fff;
$breadCrumbColorHover: darken($greenColor,20);

$selectorColor: #fff;
$selectorColorActive: lighten($greenColor,40);
$selectorBackgroundColor: $greenColor;
$selectorBackgroundColorActive: darken($greenColor,5);