/* header */
header { 
	position: absolute; 
	top:44px; left:0; right:0; 
}

.header-logo { 
	position: fixed;
	top:66px; 
	z-index: 11;
	width: 120px;
	background: #000;
	display:block;
}

.h-contact {
	background: $greenColor;
	border-radius: 4px;
	position: absolute; 
	top: 130px; right:0;
	z-index: 9;
	@include display( flex );
	
	div { 
		@include display( flex ); 
		@include align-items( center );
		padding: 10px 15px;
		color: #fff; 
		text-transform: uppercase;
		
		&:first-child { border-right: 1px solid rgba(255,255,255,0.4); }
		&:last-child { border-left: 1px solid rgba(0,0,0,0.3); }
	}
	
	.social a:hover:before {
		color: darken($greenColor,20);
	}
	
}

@media screen and (max-width: $collapseNavAt) {
	header,
	.h-contact {
		position: relative; 
		top:0;
	}
	
	.h-contact {
		border-top: 1px solid rgba(0,0,0,0.3); 
		&:before {
			content: "";
			position: absolute;
			top: 0; left:0; right:0; 
			border-top: 1px solid rgba(255,255,255,0.4);
		}
	}
	
	header .sw { 
		max-width: 100%; 
		padding-top: 10px;
		background: $greenColor;
	}
	
	.h-contact { 
		@include justify-content( center ); 
		border-radius: 0;
	}
	
	.header-logo {
		position: static;
		margin: 0 auto 10px;
	}
	
}