$footerBackgroundColor: #000 !default;
$footerContentColor: #fff !default;
$footerLinkColor: #000 !default;
$footerHoverColor: #000 !default;

$copyrightBackgroundColor: #000 !default;
$copyrightContentColor: #000 !default;
$copyrightLinkColor: #000 !default;
$copyrightHoverColor: #000 !default;
$copyrightSeparatorColor: #000 !default;

/* footer */
footer {
	background-color: $footerBackgroundColor;
	color: $footerContentColor;
	
	a {
		color: $footerLinkColor;
		&:hover { color: $footerHoverColor;}
	}
}


/* copyright */
.copyright { 
	background-color: $copyrightBackgroundColor;
	color: $copyrightContentColor;
	position: relative; 
	font-size: 12px; 
	text-transform: uppercase; 
	padding: 20px 0; 
	cursor: default; 
	margin-top: 20px; 
	
	a {
		color: $copyrightLinkColor;
		&:hover { color: $copyrightHoverColor; }
	}
	
	ul {
		position: relative; 
		z-index: 10; 
		display: inline-block;
	}
	
	li {
	
		display: inline-block; 
		border-left: 1px solid $copyrightSeparatorColor;
		margin-right: -0.25em; 
		margin-left: 5px; 
		padding-left: 5px; 
		line-height: 1;
	
		&:first-child {
			margin-left:0; 
			padding:0; 
			border: none; 
		}
	
	}
	
}

#jac { position: absolute; right:0; top:50%; margin-top: -12px;  width: 186px; height: 25px; background-size: 186px 50px; z-index: 10; }

@media screen and (max-width: 800px) {
	.copyright li { display: block; border: none; margin:0; padding:4px 0 !important; font-size: 14px;}
}

@media screen and (max-width: 600px) {
	.copyright { text-align: center; }
	#jac { position: static; display: block; right:0; margin: 20px auto 0;}
}


/* site specific footer CSS */
$footerBlockWidth: $wrapperWidth*.45;


.footer-wrap { 
	.sw { 
		padding: 20px 0 0;
		@include display( flex ); 
		@include justify-content( space-between );
		@include flex-wrap( wrap );
	}
}

.footer-block { 
	padding: 0 0 20px;
	max-width: $footerBlockWidth;
	@include flex-grow( 1 );
	
	&:first-child { padding-right: 40px; }
	
	@media screen and (max-width: $footerBlockWidth*2 ) {
		& { 
			max-width:none; 
			&:first-child { padding-right:0; }
		}
	}
	
	.button { margin-top: 20px; }
}

.footer-nav {
	
	$padding: 8px;
	
	text-transform: uppercase;
	font-size: 14px;
	margin: 0 #{-$padding} 20px;
	
	ul { 
		@include display( flex ); 
		@include flex-wrap( wrap );
		@include justify-content( space-between );
	}
	
	li {
		@include flex( 0 0 auto );
	}
	
	a { 
		display: block; 
		line-height:1;
		padding: $padding;
		text-align: center;
		@include transition( 0.15s background $ease-in-out-sine );
		
		&:hover { background: darken($blueColor,10); }
	}
}

.s-footer-blocks {
	@include display( flex );
	@include flex-wrap( wrap );
	font-size: 12px; 
}

.s-footer-block {
	padding: 0 20px 0 0;
	margin: 0 20px 0 0;
	border-right: 1px solid rgba(0,0,0,0.3); 
	@include flex-grow( 1 );
	
	
	&:last-child { 
		border:none;
		padding-right:0; 
		margin-right:0;
		@include flex-grow( 0 );
	}
	
}

/* collapse footer nav and blocks */
@media screen and (max-width: 700px) {

	.footer-nav { 
		ul { @include flex-wrap( wrap ); }
		li { 
			@include flex( 1 1 50% );
			min-width: 200px;
		}
		a { text-align: left; }
	}
	
	.s-footer-block {
		padding:0 0 20px;
		margin:0;
		border:none;
		
		.rows { display: inline-block; }
	}
	
}