@import "4.2.1-article";
@import "4.2.2-forms";
@import "4.2.3-accordion";
@import "4.2.4-custom-dropdown";
@import "4.2.5-responsive-video";
@import "4.2.6-social";
@import "4.2.7-hero";
@import "4.2.9-tabs";
@import "4.2.10-search-overlay";
@import "4.2.11-blocks";
@import "4.2.12-filter-area";
@import "4.2.13-magnific-popup";
@import "4.2.14-swiper";

/* lightslider */
.lightslider {
	visibility: hidden; 
	opacity:0;
	@include transition( opacity 0.3s $ease-in-out-sine );
	
	li {
		list-style: none !important;
		margin:0 !important;
		padding:0 !important;
	}
	
}

.ls-loaded .lightslider {
	visibility: visible;
	opacity:1;
}

.ls-slider-controls { 
	position: absolute;
	top: 50%; left:0; right:0;
	margin: 0 auto;
	width: $wrapperWidth;
	max-width: 100%;
	@include transform( translateY(-50%) );
	button { 
		@include t-fa-abs();
		position: absolute;
		@include transform( translateZ(0) );
		top:0;
		outline: none; 
		width: 40px; height: 40px;
		border-radius: 20px;
		border: 1px solid #fff;
		color: #fff;
		overflow:hidden;
		@include transition( transform 0.3s $ease-in-out-sine );
		
		&:before { font-size: 32px; }
		&:after {
			position: absolute;
			top:0; left:0; right:0; bottom:0;
			background: rgba(255,255,255,0.4);
			content:"";
			border-radius: 20px;
			@include transform( scale(0,0) );
			@include transform-origin( center );
			@include transition( transform 0.2s $ease-in-out-sine );
		}
		&:hover {
			&:after { @include transform( none ); }
		}
		
		&.prev { 
			left:-40px; 
			&:before { 
				content: $fa-var-angle-left; 
				text-indent: -4px;
			}
			
			&:hover { @include transform( translate3d(-10px,0,0) ); }
		}
		&.next { 
			right: -40px; 
			&:before { 
				content: $fa-var-angle-right; 
				text-indent: 4px;
			}
			
			&:hover { @include transform( translate3d(10px,0,0) ); }
		}
		
	}
}

.ls-slider-links { 
	position: absolute;
	bottom: 10px; left:0; right:0;
	@include display( flex );
	@include justify-content( center );
	
	.ls-bar-links & {
		
		button {
			outline: none;
			@include flex( 1 1 0 );
			height: 10px;
			margin: 0 5px;
			overflow: hidden;
			text-indent: -999em;
			position: relative;
			
			&:before {
				content:"";
				position: absolute;
				top:0; left:0; bottom:0;right:0;
				@include transform( scale(0,1) );
				@include transform-origin( left center );
				@include transition( transform 0.4s $ease-in-out-expo );
			}
			
			&.selected:before { @include transform( none ); }
			
		}
	}
	
	.ls-button-links & {
		button {
			outline: none;
			border-radius: 50%;
			margin: 0 5px;
			height: 18px; width: 18px;
			text-indent: -999em;
			position: relative;
			border: 2px solid #fff;
			
			&:after {
				content:"";
				position: absolute;
				top:50%; left:50%;
				width: 100%; height: 100%;
				@include transform( scale(0,0) translate3d(-50%,-50%,0) );
				@include transition( transform 0.4s $ease-in-out-back, background 0.4s $ease-in-out-sine );
				@include transform-origin( top left );
				border-radius: 50%;
				border: 2px solid #999;
				background: #999;
			}
			
			&:hover:after { @include transform( scale(0.4,0.4) translate3d(-50%,-50%,0) ); }
			&.selected:after{ 
				@include transform( scale(1,1) translate3d(-50%,-50%,0) ); 
				background: #ddd;
			}
		}
		
		
	}
	
}

/* bouncing images */
.bounce {
	.img {
		@include transition( all 0.4s $ease-in-out-sine );
	}
	
	&:hover .img {
		@include transition-timing-function( $ease-out-back );
		@include transform ( scale( 1.25, 1.25 ) );
	}
}

/* aspect ratio */
.ar {
	position: relative;
	height:0;
	display: block;
	overflow: hidden;
	
	.ar-child {
		position: absolute;
		display: block;
		top:0; left:0; right:0; bottom:0;
	}
}

/* lazybg */
.lazybg {

	opacity:0;
	@include transition( opacity 0.25s $ease-in-out-sine );
	background: center no-repeat;
	background-size: cover;

	img { visibility: hidden; }
		
	&.with-img { background-size: contain; }
	&.loaded { opacity:1; }
}

/* rows */
.rows {
	padding: 6px 0;
	
	.row {	
		@include display( flex );
		@include justify-content( space-between );
		@include align-items( center );
		
		
		span { @include flex( 1 1 auto ); }
		.l { 
			@include flex-shrink( 3 ); 
			padding-right: 6px;
		}
		.r { text-align: right; }
	}
	
}