/* hero */
.page-wrapper { border: 1px solid transparent; }

.hero {
	position: relative; 
	height: 100vh;
	max-height: 800px;
	min-height: 450px;
	padding-top: 144px;
	z-index:8;
	
	@media screen and (max-width: $collapseNavAt) {
		padding-top:0;
	}
}

.hero .lSSlideOuter,
.hero .lSSlideWrapper,
.hero .lightslider,
.hero .lightslider li {
	height: 100% !important;
}

.hero .lightslider .sw { overflow: hidden; }

.hero .lightslider li { 
	position: relative;
	@include display( flex );
	@include flex-direction( column );
	@include justify-content( center );
	
	background: #fff;
	
	&.dark-bg { background: #000; }
	
	.item {
		position: absolute;
		opacity:0;
		top:0; left:0; right:0; bottom:0;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		@include transition( opacity 0.2s $ease-in-out-sine );
		
	}
	
	&.loaded .item { opacity:1; }
	
}

.hero-caption { 
	width: 600px; 
	max-width: 90%; 
	
	@media screen and (max-width: $collapseNavAt) {
		& {
			margin:  0 auto;
			background:  rgba(255,255,255,0.8);
			max-width: 100%;
			padding:  20px;
		}
		
		.dark-bg & { background:  rgba(0,0,0,0.4); }
	}
	
}
.hero-caption.right { float: right; text-align: right;}
.hero-caption-title {
	color: $blueColor;
	font-size: 42px;
	
	.dark-bg & { text-shadow: 1px 1px 0 #fff; }
}

.hero-caption p { font-size: 24px; }

.hero {
	.ls-slider-links {
		margin: 0 auto;
		width: 400px;
		max-width: 80%;
		z-index:10;
		
		button {
			@include transition( background 0.2s $ease-in-out-sine );
			background: $blueColor;
			&:before { background: $greenColor; }
			&.selected,
			&:hover { background: lighten($blueColor,10); }
		}
		
	}
}