/* responsive video */
.video-container {position: relative; padding: 0 0 56.25% !important; height: 0; overflow: hidden; max-width: 90%; margin: 0 auto 1em;}
.video-container.full { max-width: 100%; }
.video-container iframe,  
.video-container object,  
.video-container embed,
.video-container img {position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.video-container img { height: auto; }

section.inline-video.full { 
	padding: 0 0 37.5% !important; 
}

.inline-video-playing {
	&:before { display: none !important; }
}

.inline-video {

	cursor: pointer;
	background: #000 center no-repeat;
	background-size: cover;
	@include t-fa-abs();
	
	&.full { width: 100%; margin:0;}

	&:before {
		font-size: 92px;
		color: #fff;
		text-shadow: 0 0 15px rgba(0,0,0,0.4); 
		content: $fa-var-play-circle-o;
		@include transition( 0.4s transform $ease-in-out-back );
	}
	
	&:hover {
		&:before {
			@include transform( scale(1.5,1.5) );
		}
	}
	
}