$socialLinkColor: #000 !default;
$socialHoverColor: #000 !default;

.social {
	
	a { 
		@include t-fa-abs(); 
		width: 28px; height: 30px;
		&:before { 
			color: $socialLinkColor;
			font-size: 18px;
		}
		&:hover:before { color: $socialHoverColor; }
	}
	
	& .fb:before { content: $fa-var-facebook; }
	& .tw:before { content: $fa-var-twitter; }
	& .in:before { content: $fa-var-linkedin; }
	& .yt:before { content: $fa-var-youtube; }
	
}