$filterBarBackgroundColor: #000 !default;
$filterBarContentColor: #fff !default;

$filterControlBackgroundColor: #fff !default;
$filterControlBackgroundColorActive: #efefef !default;
$filterControlColor: #000 !default;
$filterControlColorActive: #000 !default;

.filter-bar {

	background: $filterBarBackgroundColor;
	color: $filterBarContentColor; 
	line-height:56px; 
	height:56px; 

	.count {
		display: inline-block; 
		padding-right: 10px; 
		text-transform: uppercase;
	}
	
	.num { 
		display: inline-block; 
		padding: 4px 12px 0; 
		border-radius: 18px; 
		border: 2px solid $filterBarContentColor;
		line-height: 32px; 
		vertical-align: middle; 
		margin: -4px 4px 0 0;
	}
	
	.filter-controls {
		float: right;
		height: 100%;
		padding: 8px 0;
	}

}

.filter-controls {

	button {
		@include t-fa-abs();
		width: 38px; height:100%; 
		background: $filterControlBackgroundColor;
		color: $filterControlColor;
		line-height:40px; 
		display:block; float:left; 
		margin-left: 1px;
		@include transition( all 0.15s $ease-in-out-sine );
		
		&:before {
			font-size: 20px;
		}
		
		&:hover { 
			background: $filterControlBackgroundColorActive;
			color: $filterControlColorActive;
		}
		
		&.next:before { content: $fa-var-chevron-right; }
		&.previous:before { content: $fa-var-chevron-left; }
		
	}

}